[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ritasree1991
[access "refs/for/refs/*"]
	read = group user/ritasree1991
	push = group user/ritasree1991
	label-Code-Review = -2..+2 group user/ritasree1991
	label-Verified = -1..+1 group user/ritasree1991
	rebase = group user/ritasree1991
	removeReviewer = group user/ritasree1991
	submit = group user/ritasree1991
[access "refs/heads/*"]
	read = group user/ritasree1991
	create = group user/ritasree1991
	push = +force group user/ritasree1991
	pushMerge = group user/ritasree1991
[access "refs/tags/*"]
	push = group user/ritasree1991
	push = +force group user/ritasree1991
